@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200;1,600&family=Roboto+Slab:wght@700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    padding-top: 8%;
}

.header {
    background-color: black;
    border-radius: 10px;
    margin-left: 7%;
    margin-right: 7%;
    display: flex;
}

.text {
    color: bisque;
    margin-left: 12%;
    margin-top: 12%;




}

.peragraph p {
    color: bisque;
    margin-left: 15%;
    width: 50%;

    text-align: center;

}

.image {
    margin-bottom: ;
}

.button {
    margin-left: 30%;
    width: 20%;

    border-radius: 5px;
}

.header text {
    padding-top: 10%;
}

.button-color {
    background-color: lightblue;

    border-radius: 5px;
    height: 38px;
    width: 135px;

}








.container {
    display: flex;
    justify-content: flex-start;
    align-items: ;








}

.transfer {
    display: grid;




}

.header {
    margin: 100px;
    margin-right: 0px;

}

.upcoming {
    background-position: 200px;
    background-color: gainsboro;

    display: flex;
    flex-direction: column;

    margin: 10px;
    margin-left: 90px;
    height: 130px;
    width: 200px;
    background-color: black;
    padding-top: 15px;


}

.transfer {

    display: grid;
    grid-template-columns: 340px 400px 150px;
    padding: 10px;


}

.footer {


    background-color: black;
    color: whitesmoke;
    text-align: center;
    margin-left: 90px;


}

.goal {
    margin-top: 20px;
    padding-top: 20px;
}

.contact {
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    padding-left: 250px;
    padding-right: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}